@include nomobile
  %line
    position: absolute
    content: ""
    width: $outer-margin/2 - $marker-size/2 + 1
    height: 1px
    background-color: $green

  %arrow-down
    position: absolute
    content: ""
    width: 0
    height: 0
    border-left: 100px solid transparent
    border-right: 100px solid transparent
    border-top-width: 35px
    border-top-style: solid
    border-top-color: $white

  %marker
    display: inline-flex
    align-items: center
    justify-content: center
    position: absolute
    width: $marker-size
    height: $marker-size
    background-color: $green
    border-radius: $marker-size
    box-shadow: 0 0 2px 8px $background
    color: $white