/** Delete SASS styles if you write in CSS,
  * but you can save @imports for include fonts and libs
  */

@import "fonts"
@import "libs"
@import "mixins"
@import "vars"
@import "placeholders"

/* Standard styles SASS */

*
  box-sizing: border-box

html, body
  height: 100%
  margin: 0
  padding: 0
  color: $black
  position: relative

h1, h2, h3, h4, h5, h6
  text-align: center
  margin: 0

ul, li, p
  margin: 0
  padding: 0

a
  font-size: 1em
  text-decoration: none
  color: $green
  transition: opacity .25s ease

  &:hover
    color: $green
    opacity: .8

/*******************/

/* Common classes */

.text-center
  text-align: center

.cls
  clear: both

.container
  width: 100%
  max-width: 1200px
  margin: 0 auto

  @include laptop
    max-width: 90%

  @include tablet
    max-width: 90%

  @include mobile
    max-width: 95%

.wrapper
  width: 100%
  height: 100%

.section-title
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 20px
  position: relative
  font-size: 2em

  &:after
    content: ""
    position: absolute
    display: inline-block
    height: 2px
    width: 50px
    background: $green
    bottom: -10px

.section-description
  text-align: center
  margin-top: 30px
  margin-bottom: 40px
  font-size: 1.1em

  @include mobile
    font-size: 1em
    padding: 0 10px

.background-color
  background: $background

/******************/

/* Home */
.header
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 105vh
  position: relative
  background-image: url("/images/home.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  clip-path: polygon(0 0,100% 0,100% 90%,50% 100%,0 90%)

  &:before
    content: ""
    position: absolute
    width: 100%
    height: 100%
    z-index: 1
    background: #000
    opacity: .4

.mobile-hamburg
  display: inline-flex
  align-items: center
  justify-content: center
  width: 40px
  height: 40px
  background: rgba(118, 188, 33, .7)
  border-radius: 100%
  position: fixed
  right: 20px
  top: 20px
  z-index: 800

  .fa
    color: $white

  @include nomobile
    display: none

.top-menu
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 999
  background: rgba(0, 0, 0, .3)
  transition: background-color .25s ease

  @include mobile
    display: none
    flex-direction: column
    position: fixed
    background: rgba(0, 0, 0, 1)
    left: auto
    top: auto
    right: 0
    width: 50%
    height: 100vh

  &.fixed
    position: fixed
    background: rgba(0, 0, 0, 1)

  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 30px 0

    @include mobile
      flex-direction: column
      justify-content: space-evenly

  &__logo
    color: $white
    text-decoration: none
    font-size: 2em

    @include laptop
      font-size: 1.5em

    @include tablet
      font-size: 1.1em

    @include mobile
      text-align: center

    &:hover
      color: $white

.close-menu
  position: absolute
  width: 25px
  height: 25px
  display: inline-flex
  align-items: center
  justify-content: center
  color: $green
  right: 20px
  top: 20px
  font-size: 1.5em

  @include nomobile
    display: none

.menu
  &__list
    display: flex
    list-style: none

    @include mobile
      flex-direction: column
      align-items: center

  &__element
    margin-right: 30px

    @include tablet
      margin-right: 15px

    @include mobile
      margin-right: 0
      margin-bottom: 15px

    &:last-of-type
      margin-right: 0
      margin-bottom: 0

    &.active .menu__link
      color: $green

  &__link
    color: $white
    font-size: 1.25em
    text-decoration: none

    @include laptop
      font-size: 1em

    @include tablet
      font-size: 1em

.welcome
  width: 100%
  background: rgba(0, 0, 0, .6)
  z-index: 2
  color: $white
  margin: 0 auto
  text-align: center

  @include mobile
    padding: 0 15px

  &__name
    font-size: 3em
    margin-top: 20px

    @include tablet
      font-size: 2em

  &__description
    display: inline-block
    text-align: center
    font-size: 1.25em
    overflow: hidden
    border-right: .25em solid $white
    white-space: nowrap
    letter-spacing: .1em
    margin-top: 10px
    margin-bottom: 40px
    animation: typing 2.5s steps(30, end), blink-caret .8s step-end infinite

    @include tablet
      font-size: 1.1em

    @include mobile
      font-size: 1em
      white-space: normal
      animation: none
      border-right: none

@keyframes typing
  from
    width: 0
  to
    width: 100%

@keyframes blink-caret
  from, to
    border-color: transparent
  50%
    border-color: $white

/* main */
.main
  padding-top: 40px

/* About */
.about-me
  display: flex
  justify-content: space-between
  padding: 20px 0 50px

  @include mobile
    flex-direction: column
    padding-top: 0

.photo
  display: flex
  align-items: center
  justify-content: center
  flex-basis: 40%

  @include tablet
    align-items: flex-start

  img
    border-radius: 10px
    max-width: 70%

    @include laptop
      max-width: 90%

    @include tablet
      max-width: 90%

    @include mobile
      max-width: 60%

.resume
  flex-basis: 60%
  color: $text
  font-size: 1.25em

  @include laptop
    font-size: 1em

  @include tablet
    font-size: 1em

  &__name
    color: $black
    font-size: 2em
    font-weight: bold

    @include tablet
      font-size: 1.75em

    @include mobile
      margin-top: 20px
      font-size: 1.5em
      text-align: center

  &__preview,
  &__full
    margin: 20px 0

  &__preview
    color: $grey
    font-size: 1em

  &__list
    list-style: none

  &__element
    margin-bottom: 15px
    display: flex
    align-items: center

    &:last-of-type
      margin-bottom: 0

    i.fa
      display: inline-flex
      width: 26px
      height: 26px
      margin-right: 10px
      align-items: center
      justify-content: center
      color: $green

    span:first-of-type
      font-weight: bold
      color: $black

.achievements
  position: relative
  padding: 60px 0 30px
  display: flex
  align-items: center
  flex-direction: column

  @include mobile
    padding-top: 30px

  &:before
    @extend %arrow-down
    top: 0

  &:after
    @extend %arrow-down
    bottom: -35px
    border-top-color: $background

  &__image-link
    display: block
    padding: 5px
    background: rgba(255, 255, 255, .5)
    border-radius: 20px

  &__image
    max-height: 200px
    object-fit: contain

    @include tablet
      max-height: 150px

    @include mobile
      max-height: 115px

  .owl-carousel.owl-theme .owl-dots
    margin-top: 40px

/* skills */
.skills
  padding: 60px 0 40px

  @include mobile
    padding-top: 30px

  &__filter-list
    display: flex
    margin-top: 20px
    justify-content: center
    list-style: none

  &__filter
    margin-right: 30px
    font-size: 1.25em
    cursor: pointer

    @include mobile
      font-size: 1em
      margin-right: 15px

    &:last-of-type
      margin-right: 0

    &:hover
      color: $green

    &.active
      color: $green

  &__block
    display: flex
    margin-top: 30px

  &__list
    width: 70%
    display: flex
    flex-wrap: wrap
    list-style: none

    @include mobile
      width: 100%

  &__element
    position: relative
    height: 80px
    width: 30%
    padding: 0 20px
    margin: 10px
    box-sizing: border-box
    font-size: 1.75em
    display: flex
    align-items: center
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, .1)
    border-radius: 2px
    cursor: pointer
    transition: all .25s ease

    @include laptop
      font-size: 1.2em

    @include tablet
      font-size: 0.875em
      width: 28%
      padding: 0 10px

    @include mobile
      width: 100%
      min-height: 80px
      height: auto
      flex-direction: column
      justify-content: center
      transition: all .25s ease

      &:after
        content: "\f0a6"
        font-family: FontAwesome
        font-size: 0.6em
        position: absolute
        right: 20px

    &:hover
      @include nomobile
        border: 2px solid $green

    &.active
      border: 2px solid $green

      @include mobile
        padding: 25px 20px

        &:after
          top: 20px
          color: $green

    &-name
      position: relative
      display: flex
      width: 100%
      height: inherit
      align-items: center

.skill
  display: inline-block
  height: max-content
  width: 30%
  padding-left: 20px
  margin-top: 10px
  padding-bottom: 20px
  border-left: 1px solid $grey

  @include mobile
    display: none
    width: 100%
    border-left: none
    padding: 0
    height: 100%

  &__name
    font-size: 1.75em
    margin-bottom: 5px
    display: inline-flex
    align-items: center

    @include mobile
      display: none

  &__percent
    &-number
      display: block
      text-align: right
      margin-bottom: 5px
      letter-spacing: 2px

      @include mobile
        font-size: 20px

    &-block
      display: flex
      align-items: center
      justify-content: flex-start
      height: 7px
      width: 100%
      border-radius: 10px
      background: rgba(0, 0, 0, .2)

      span
        display: block
        height: 100%
        border-radius: 10px

  &__description
    font-size: 1.1em
    color: $light-black
    margin-top: 30px
    text-align: justify

    @include laptop
      font-size: 1.1em

    @include tablet
      font-size: 1.1em

    @include mobile
      font-size: 18px

.skills__element .skills__element-name:before
  content: ""
  display: inline-flex
  align-items: center
  justify-content: center
  width: 100%
  max-width: 45px
  height: 100%
  background-repeat: no-repeat
  background-position: center
  background-size: contain
  margin-right: 20px

.skill__name:before
  content: ""
  display: inline-flex
  align-items: center
  justify-content: center
  width: 80px
  height: 80px
  background-repeat: no-repeat
  background-position: center
  background-size: 100%
  margin-right: 20px

@import "skills-icons"

/* Work */
/* Разбиение элементов по сторонам */
$counter: $work-card-items - $work-card-rows + 2
@for $i from 1 through $work-card-rows
  .work-card:nth-child(#{$i*2-1})
    order: $i
  .work-card:nth-child(#{$i*2})
    order: $counter
  $counter: $counter + 1

#work
  padding: 50px 0

  @include mobile
    padding-top: 30px
    padding-bottom: 10px

  .work-card-wrapper
    position: relative
    margin: auto
    margin-top: 30px

    @include nomobile
      display: flex
      flex-flow: column wrap
      width: $container-width
      max-height: $container-height
      margin: 0 auto

    &::after
      content: ""
      position: absolute
      top: 0
      bottom: 0
      left: 50%
      border-left: 2px solid rgba(191, 191, 191, 0.4)
      z-index: 1

      @include nomobile
        border-left: 1px solid $timeline

.work-card
  position: relative
  display: block
  margin: 10px auto 80px
  z-index: 2
  box-shadow: 0 1px 22px 4px rgba(0, 0, 0, 0.07)
  background: $white
  border-left: 3px solid $green

  @include nomobile
    max-width: $card-width - 100
    min-height: $card-min-height

    @include desktop
      max-width: $card-width

    @include tablet
      max-width: $card-width - 160

    &.is-hidden
      visibility: hidden

    &.bounce-in
      visibility: visible
      animation: cd-bounce-2 $animation-delay

    &:nth-child(odd)
      margin-right: $outer-margin/2
      margin-top: $outer-margin/2

      .work-card__head::after
        @extend %line
        left: 100%

      .work-card__head::before
        @extend %marker
        left: $marker-dist - 100 - 2

        @include desktop
          left: $marker-dist - 2

        @include tablet
          left: $marker-dist - 160 - 2

    &:nth-child(even)
      margin-left: $outer-margin/2

      .work-card__head::after
        @extend %line
        right: 100%

      .work-card__head::before
        @extend %marker
        right: $marker-dist - 100 - 1

        @include desktop
          right: $marker-dist - 1

        @include tablet
          right: $marker-dist - 160 - 1

      &.bounce-in
        animation: cd-bounce-2-inverse $animation-delay

    &:nth-child(2)
      margin-top: $stagger


  @include mobile
    margin-bottom: 40px

  &__head
    display: flex
    align-items: center
    position: relative
    padding: 15px 15px 0
    color: $black
    font-weight: 600

    @include mobile
      &:before
        content: none !important

  &:first-child .work-card__head:before
    content: "2015"

  &:nth-child(2) .work-card__head:before
    content: "2016"

  &:nth-child(3) .work-card__head:before
    content: "2017"

  &:nth-child(4) .work-card__head:before
    content: "2018"

  &__title
    font-size: 1.3rem
    font-weight: inherit
    line-height: 1rem

    @include mobile
      font-size: 165%
      line-height: 2rem

  &__body
    padding: $inner-margin

    div
      margin-bottom: 20px

      &:last-child
        margin-bottom: 0

  &__date
    color: $text
    margin-bottom: 20px
    font-style: italic
    font-size: 0.875em

  &__skills-title,
  &__projects-title
    font-size: 1.2em
    font-weight: 600
    margin-bottom: 5px

  &__projects-list,
  &__skills-list
    list-style: none
    display: flex
    flex-wrap: wrap

    li
      font-size: 1em
      display: inline-flex
      align-items: center
      justify-content: center
      padding: 5px 10px
      border-radius: 10px
      background-color: rgba($green, .8)
      margin-right: 5px
      margin-bottom: 5px
      color: $white
      cursor: default
      transition: background-color .25s ease

      @include nomobile
        &:hover
          background-color: rgba($green, 1)

      @include mobile
        &.active
          background-color: rgba($green, 1)

  &__skills-list li
    background-color: rgba($light-black, .1)
    color: $black

    @include nomobile
      &:hover
        background-color: rgba($light-black, .2)

  &__project
    position: relative

    @include nomobile
      &:hover > span
        display: block

      span
        display: none
        position: absolute
        border: 1px solid $green
        background: #fff
        border-radius: 10px
        bottom: calc(100% + 10px)
        width: 300px
        max-height: fit-content
        color: $light-black
        font-size: 0.875em
        padding: 10px 20px
        z-index: 10
        box-shadow: 0 0 15px rgba($black, .4)

        &:after
          content: ""
          position: absolute
          bottom: -5px
          left: 50%
          display: inline-block
          height: 7px
          width: 7px
          transform: rotate(225deg)
          transform-origin: center center
          border-top: 1px solid $green
          border-left: 1px solid $green
          background: $white

    @include mobile
      span
        display: none

.mobile-project
  display: none
  padding: 10px
  margin-top: 10px
  border-radius: 4px
  box-shadow: 0 0 8px rgba($green, .4)

@keyframes cd-bounce-2
  0%
    opacity: 0
    transform: translateX(-100px)

  60%
    opacity: 1
    transform: translateX(5px)

  100%
    transform: translateX(0)

@keyframes cd-bounce-2-inverse
  0%
    opacity: 0
    transform: translateX(100px)

  60%
    opacity: 1
    transform: translateX(-5px)

  100%
    transform: translateX(0)

/* Интересы */
.interests
  padding: 50px 0

  &__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    margin-top: 50px

.interest
  margin-bottom: 30px
  padding: 20px 15px
  box-shadow: 0 0 20px rgba($light-black, .2)
  border-radius: 4px
  flex-basis: 28%

  @include tablet
    flex-basis: 45%

  @include mobile
    flex-basis: 100%

  &__image-wrapper
    display: flex
    align-items: center
    justify-content: center
    position: relative
    margin-bottom: 20px

  &__image
    display: inline-block

    img
      height: 200px
      width: 100%
      object-fit: contain
      border-radius: 4px

  &__years18
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: rgba(255, 255, 255, 0.2)
    backdrop-filter: blur(15px)
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    font-size: 2em
    color: $white
    transition: background .25s ease
    flex-direction: column
    text-align: center

    @include tablet
      font-size: 1.5em

    @include mobile
      font-size: 1.5em

    &:hover
      backdrop-filter: blur(12px)
      background: rgba(255, 255, 255, 0.1)

    span
      display: inline-block
      margin-top: 5px

    p
      font-size: 0.7em
      margin-top: 10px
      padding: 0 20px

  &__text-wrapper
    //height: 150px
    position: relative
    overflow: hidden

    @include mobile
      width: 100%

    //&:after
    //  content: ""
    //  text-align: right
    //  position: absolute
    //  bottom: 0
    //  right: 0
    //  left: 0
    //  height: 100px
    //  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%)

  &__title
    font-size: 1.3em
    font-weight: 600
    margin-bottom: 15px
    text-align: center

    @include mobile
      margin-top: 15px

  &__text
    font-size: 1.1em
    line-height: 1.275em
    margin-bottom: 15px

    &:last-child
      margin-bottom: 0

  &__text-more
    //display: flex
    display: none
    align-items: flex-end
    justify-content: center
    position: absolute
    left: 0
    right: 0
    bottom: 0
    color: $black
    font-size: 2em
    height: 120px
    z-index: 2
    cursor: pointer

/* Books */
.books
  padding: 50px 0 30px

  &__image
    height: 200px
    object-fit: contain

    @include tablet
      height: 180px

    @include mobile
      height: 150px

  .owl-carousel.owl-theme .owl-dots
    margin-top: 40px

/* Contact me */
.contact-me
  position: relative
  padding: 40px 0

  &__form
    display: block
    text-align: right
    margin-top: 30px

  .input__wrapper
    display: flex
    text-align: left

    @include mobile
      flex-direction: column

  .fa
    margin-right: 10px
    color: $green

  label
    display: inline-block
    margin-bottom: 5px
    font-size: 1.25em
    font-weight: 600

  .input-block
    width: 100%
    padding: 10px

    input
      width: 100%
      height: 35px
      box-shadow: none
      border: 1px solid $timeline
      padding-left: 20px
      font-size: 1.1em
      border-radius: 2px

      &:active, &:focus
        outline: 1px solid $green

      &.error
        border: 1px solid $red

  .textarea-block
    width: 100%
    padding: 10px
    text-align: left

    textarea
      width: 100%
      resize: vertical
      border: 1px solid $timeline
      padding: 20px
      font-size: 1.25em

      &:active, &:focus
        outline: 1px solid $green

      &.error
        border: 1px solid $red

  &__btn
    display: inline-flex
    margin-left: auto
    height: 35px
    padding: 20px
    align-items: center
    justify-content: center
    background-color: $green
    color: $white
    font-size: 1.1em
    box-shadow: none
    border: none
    border-radius: 2px
    margin-right: 10px
    cursor: pointer
    transition: background-color .3s ease

    &:hover
      background-color: rgba(118, 188, 33, .8)

  .form-blur
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, .4)
    backdrop-filter: blur(15px)
    display: flex
    align-items: center
    justify-content: center
    font-size: 2em
    color: $white
    text-align: center

    @include tablet
      font-size:  1.5em

    @include mobile
      font-size: 1.3em

  .error-message
    color: $red
    margin-top: 5px


/* Footer */
.footer
  padding: 30px 0

  .socials
    display: flex
    justify-content: center
    list-style: none

  .social-link
    margin-right: 15px

    &:last-of-type
      margin-right: 0

    a
      transition: opacity .3s ease

      &:hover
        opacity: .8

  .copyright
    text-align: center
    color: $text
    margin-top: 10px

@import "media" // Always last
